body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  background-image: url('https://www.yesmadam.com/static/images/Footer_bg.webp');
  background-size: cover;
}
.popup{
  background-color: rgba(0, 0, 0, 0.3);
}
.popup-1{
  background-image: url('https://cdn.yesmadam.com/images/live/iDescription/1623041807482.jpg');
  background-size: cover;
}





